{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="my-4">Books Page</h1>
  <div class="row">
      {% for book in books %}
          <div class="col-md-4">
              <div class="card mb-4" style="width: 18rem;">
                  {% if book.image %}
                      <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                  {% else %}
                      <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Image Available">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">{{ book.summary }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Author: {{ book.author.first_name }} {{ book.author.last_name }}</li>
                      <li class="list-group-item">Publication Date: {{ book.publication_date }}</li>
                  </ul>
                  <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
  <a href="{% url 'home' %}" class="btn btn-primary mt-4">Home</a>
</div>
{% endblock content %}